.img{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: poppins,sans-serif;

}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #000000 ;
    /* background-image: url("spider.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    color: white; 
}
header{
    /* margin-top: 20px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content:space-around;
    align-items: center;
    z-index: 100;
    background-color: #2a2a2a;
}
.logo{
    color: gold;
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    /* text-align: left; */
} 
.logo:hover{
    transform: scale(1.1);
}
nav{
    margin-left: 24rem;
}
nav a{
    font-size: 1.8rem;
    color:wheat;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    
} 
nav a:hover,
nav a.active{
    color: red;
    border-bottom: 3px solid red;
}
@media(max-width:995px){
    nav{
        position:absolute;
        display: none;
        top: 100px;
        right: 0;
        width: 40%;
        border-left: 3px solid  #b74b4b;
        border-bottom: 3px solid  #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1%);

    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;

    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid white;

    }
}
section{min-height: 100vh;
padding: 5rem 9% 5rem;

}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #000000 ;
    /* background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover; */
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;

}
span{
    color: #b74b4b;
}
.home .home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;


}

.home-img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.25 linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
#hire{
    background-color: black;
    border-radius: 4rem;
    color: #b74b4b;
    display: inline-block;
    padding: 1rem 2.8rem;
    border: 2px solid #b74b4b;
    font-weight: 600;
    letter-spacing: 0.3rem;
    transition: 0.3s ease;
    cursor: pointer;
}
#hire:hover{
    transform:scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position:relative;

}
.typing-text span:before{
    content: "software developer";
    color: #b74b4b;
    animation: words 10s infinite;

}
.typing-text span:after{
    content: "";
    background-color: black;
    width: calc(100% + 8px);
    position: center;
    height: 50%;
    border-left:3px solid black;
    right: 8;
    animation: cursor 0.6s infinite;
}
    @keyframes cursor{
    to{
        border-left: 3px solid;
    }
    
}
#text{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}
@keyframes words{
    0%,20%{
    content:"Web developer";
    }
    /* 41%,60%{
        content:"Software Engineer" ;
    } */
    /* 61%,80%{
        content: "youtuber";
    }
    81%,100%{
        content: "script writer";
    } */
}

@media(max-width:1000px){
    .home{
        gap: 4rem;
    }
}
@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;

    }
    home.home-content h3{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 5rem;

    }
    .home-img img{
        width: 70vw;
        margin-top:4rem;
    }
}
.img{
    border-radius: 500px;
}
.container{
    
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    padding: 0px;
} 
.ab{
    background-color: #0a0a0a;
    /* background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover; */
}   
   
.about{
    flex: 1;

}
.about img{
    width: 100%;
    max-width: 400px;
    border-radius: 300px;

}
#divv{
    flex: 2;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color:transparent;
    font-size: 30px;
    padding: 30px;

}
#btn{
    background-color:black;
    color: white;
    padding: 5px;
    border-radius: 20px;
    border: #161616 solid;
}
#btn:hover{
    transform:scale3d(1.03);
    color: wheat;
    box-shadow: 0 0 25px white;
}
html{
    scroll-behavior: smooth;
}
#prohead{
    font-size: 40px;
    text-align: center;

}
#pro{
    font-size: 20px;
    font-family: poppins,sans-serif;
    text-align: center;
}
.projects{
    background-color:#111111;
}
.project1{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    /* margin: 20px; */
    gap: 12rem;
    margin-top: 5rem;

}
.item{
    background-color: transparent;
    border: solid;
    border-color: gold;
    box-shadow: #b74b4b;
    display: flex;
    /* border: 1px solid; */
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 15rem;
    margin-bottom: 20px;
    border-width: 8px;


}
.item:hover{
    transform:scale3d(1.03);
    /* color: wheat; */
    box-shadow: 0 0 25px white;
}
.item img{
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    height: 15rem;
}
#quiz{
    font-family: sans-serif; 
    font-size: 2rem ; 
    text-align: center;
    color: white;
        
 }
#ludo{
    font-family: sans-serif; 
    font-size: 2rem ; 
    text-align: center;
    margin-top: 2rem;
    color: white;
}
#Weather{
    font-family: sans-serif; 
    font-size: 2rem ; 
    text-align: center;
    color: white;
}
#Calculator{
    font-family: sans-serif; 
    font-size: 2rem ; 
    text-align: center;
    margin-top: 2rem;
    color: white;
}
#temp{
    font-family: sans-serif; 
    font-size: 2rem ; 
    text-align: center;
    margin-bottom: auto;
    color: white;

    
}
#x{
    font-family: sans-serif; 
    font-size: 2rem ; 
    text-align: center;
    margin-top: 2rem;
    /* color: white; */
    
}

.cont{
    /* background-color:#1a1a1a ; */
    align-items: center;
    
}
#conthead{
    font-size: 7rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    margin-bottom: 3%;
}
#contbody{
    font-size: 4rem;
    align-items: center;
    font-weight: 100;
    background-color: black;
    text-align:center;
    word-spacing: 1rem;
    margin-top: 0%;
}
#contactme{
    font-size:3rem;
    color:white;
}
.contact h2{
    font-size: 4rem;
    margin-bottom: 1.6%;
}
#follow{
    font-size:4rem;
    color:white;
}
#socials{
    font-size: 2rem;
    margin-bottom: 1.6%;
    /* word-spacing: 1rem; */
    color: white;
    align-items: center;
}
#followdiv{
    align-items: center;
    
}
#footer{
    background-color: #2a2a2a;
    text-align: center;
    padding: 1rem 0;
    /* margin-top: 2rem; */
    font-size: 1.6rem;
}
#footera{
    color: gold;
}

/* .project1{
    color:white;
} */

